header {
  padding: 1rem;
}

header .row {
  align-items: center;
  justify-content: space-between;
}

.header-top {
  padding: 1rem;
}

.button {
  margin-right: 1rem;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: #3893FF;
  color: white;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  padding-left: 1.1rem;
  font-size: 1rem;
}

.button-login {
  margin-right: 1rem;
  width: 90px;
  height: 40px;
  border-radius: 10px;
  background-color: #3893FF;
  color: white;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  padding-left: 1.5rem;
  font-size: 1rem;
}

footer {
  background: #C8E1FF;
  padding: 2rem;
}

footer .col-md-2 h4 {
  text-transform: lowercase;
  color: #3893FF;
}

footer h5 {
  text-transform: lowercase;
}

.info h5 {
  margin-top: .2rem;
}

.bottom {
  align-items: center;
  justify-content: space-between;
}

.top input {
  border: none;
  outline: none;
  background-color: #C8E1FF;
  border-bottom: 1.25px solid grey;
}

.email {
  text-decoration: underline;
}

.icons img {
  margin-right: 1rem;
}